# ===== Terraform =====
.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
.env
.env.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
